.btnContainer {
  margin: 20px 0;
}

.classProfile {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  // background-size: cover;
  // background-position: center;
  object-fit:fill;
}